#main-controls { overflow: visible; }
#hackathon-ad-container {
    background: red;
    z-index: 2;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 0;
}
