#main-controls { overflow: visible; }
#hackathon-ad-container {
    z-index: 1002;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    height: 30px;
}
#hackathon-ad-container .closebutton {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    background: #FFF;
    border: 2px solid #222;
    text-align: center;
}
#hackathon-ad-container.expanded .closebutton {
    display: block;
}
 
.ad-timercontainer {
    position: absolute;
    bottom: 25px;
    right: 10px;
    width: 200px;
    font-size: 12px;
    text-align: right compact:true,;
}
 
#hackathon-ad-slider {
    height: 100px;
    position: absolute;
    top: 30px;
    background: #fff;
    color: #000;
    z-index: 1003;
    display: none;
    clear: both;
    padding: 0;
    width: 594px;

}
.hackathon-ad-basketball #hackathon-ad-slider {
    border: 5px solid #6d0502;
    border-top: 0;
}
.hackathon-ad {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 10px 0;
    font-size: 16px;
}
.hackathon-ad button { 
    display: block;
}
 
#hackathon-admin-panel {
    width: 300px;
    height: 200px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1000;
    border: 8px solid #222;
    border-radius: 4px; -webkit-border-radius: 4px;
    background: #FFF url(../images/ps_neutral.png) 0 0 repeat;
}
#hackathon-admin-panel > .heading {
                background: #222;
                display: block;
                color: #FFF;
                text-align: center;
                padding:5px;
}
#hackathon-admin-panel > ol {
    margin: 0;
    padding: 10px;
    list-style: none;
}
#hackathon-admin-panel > ol > li {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    display: block;
}
#hackathon-admin-panel .button,
#hackathon-admin-panel .textinput {
                position: relative;
                margin: 0;
                font-size: 12px;
                font-weight: bold;
                width: 130px;
                height: 41px;
                display: inline-block;
}
#hackathon-admin-panel .textinput {
                border: 1px solid #CCC;
                height: 39px;
                line-height: 39px;
                text-indent: 10px;
                padding: 0;
}
#hackathon-admin-panel .inputcombo > .button {
                position: relative;
                left: -2px;
}
 
#hackathon-ad-title{
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    left: 8%;
    bottom: 25%;
}
 
#hackathon-ad-logo{
    display: inline;
    float: left;
}
 .hackathon-ad-baseball {
    background: #eb8015; /* Old browsers */
}
.hackathon-ad-basketball {
   background: #6d0502; /* Old browsers */
background: -moz-linear-gradient(top,  #6d0502 0%, #730603 50%, #810601 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d0502), color-stop(50%,#730603), color-stop(100%,#810601)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6d0502 0%,#730603 50%,#810601 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6d0502 0%,#730603 50%,#810601 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6d0502 0%,#730603 50%,#810601 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6d0502 0%,#730603 50%,#810601 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0502', endColorstr='#810601',GradientType=0 ); /* IE6-9 */
}

.hackathon-ad-basketball #hackathon-ad-title{
    left: 20%;
}

 #adCurrentText{

    color: #FFFFFF;
    padding:9px 5px 0 0;
    float: right;
    font-size:10px;
 
}
.hackathon-ad-baseball #adCurrentText{
    font-weight:800;
    color:#000000;
}
#adPoints{
    background: #FFFFFF;
    color: #1C7E4B;
    display: inline;
    float: right;
    font-size:16px;
    padding:3px;
    width:45px;
}

.hackathon-ad-basketball #adPoints{
    background: #FFFFFF;
    color: #1C7E4B;
    float: right;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 1%;
    width: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
    bottom: 8%;
}

 .hackathon-ad-basketball #adCurrentText{

    color: #D3D3D3;
    padding:9px 5px 0 0;
    position: absolute;
    right:7%;
    font-size:10px;
    font-weight: bold;
 
}

